body {
    background: rgb(54, 51, 51);
    font-family: sans-serif;
}

.container {
    background: rgb(54, 51, 51);
    width: 600px;
    margin: 16px auto;
}

.head1 {
    text-align: center;
    color: rgb(234, 234, 234);
    padding: 8px;
    border: ridge 9px black;
    background-color: black;
}

.rcontainer {
    text-align: left;
}

.rlist {
    display: flex;
    flex-direction: column;
    flex-shrink: auto;
    text-align: left;
}

.rl {
    margin: 0px 2px 6px 0px ;
    padding: 4px 8px 4px 8px;
    border: solid 4px black;
    background-color: rgb(148, 162, 167);
    align-self: flex-start;
    min-width: 150px;
}